  <!-- Links para as fontes do Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

  <ion-content class="fundoDashboard">
    <img src="../../assets/img/FundoDesbord.jpeg" class="fundoDashboard-img"/>
    <img src="../../assets/img/leaoDesbord.png" class="leaoDesbord-img"/>
    <img src="../../assets/img/LivroDesbord.png" class="livroDashboard-img"/>
    
    <h1 class="Direita"><ion-icon fill="outline" expand="block" color="success"  name="arrow-forward-outline" (click)="navegarDireita()"  ></ion-icon></h1>
    <h1 class="Esquerda"><ion-icon fill="outline" expand="block" color="success" name="arrow-back-outline" (click)="navegarEsquerda()"></ion-icon></h1>


    <!-- Ícones de navegação -->
  </ion-content>

  <!-- O card deve estar abaixo dos outros elementos -->
  <ion-card class="card-foreground" color="success">
    <ion-card-header>
      <ion-card-title class="titulo-com-borda">Jogo do Leão</ion-card-title>
      </ion-card-header>
    <ion-card-content class="textos">
      Descubra a magia da alfabetização com o Jogo do Leão! Ajude nossos amigos animais a completarem suas palavras corretas e aprenda de forma divertida!"
    </ion-card-content>
    <ion-button class="jogarbotao" (click)="AbrirPagina()">Jogar</ion-button>

  </ion-card>
